* { margin: 0; padding: 0; color: white; }
body { background-color: #141414; }

img { width: 100%;}
h3, p { margin-bottom: 10px; }

/* grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: max-content;
    grid-gap: 0.3em;
}
.grid-container > div { 
    padding: 10px; 
    background-color: #242424; 
}

/* header and footer */
.header, .footer { 
    grid-column: 1/4; 
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

/* ads */
.ad {
    background-color: #303030;
    padding: 10px;
    margin: 10px;
}

/* content */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    grid-gap: 0.5em;
    padding: 10px;
}
.content > h1 { grid-column: 1/4; }
.article {
    background-color: #303030; 
    padding: 10px;
}


/* menu */
.menu-btn {
    display: block;
    background-color: #303030;
    text-align: center;
    height: 30px;
    margin: 10px;
    padding: 0 10px;
    line-height: 30px;
    text-decoration: none;
}


/* hover */
.menu-btn:hover,
.article:hover,
.ad:hover {
    background-color: #505050;
}


/* adaptive */
@media screen and (max-width: 991px) {
    .menu {
        grid-column: 1/4;
        display: flex;
        justify-content: center;
    }
    .grid-container { grid-template-columns: 5fr 1fr; }
    .menu-btn { width: fit-content; }
}

@media screen and (max-width: 767px) {
    .content { grid-template-columns: 1fr 1fr; }
    .content > h1 { grid-column: 1/3; }
}

@media screen and (max-width: 600px) {
    .content { 
        grid-column: 1/4;
        grid-template-columns: 1fr; 
    }
    .ads {
        grid-column: 1/4;
    }
    .content > h1 { grid-column: 1/2; }
}